h1 {
  display:block;
  text-align:center;
  text-transform:uppercase;
  width: 600px;
  height: 50px;
  position:relative;
  margin:0 auto;
}
h1:before{
  content:"";
  display:block;
  background:black;
  position:absolute;
  top:30%;
  height: 5px;
  width: 245px;
}
h1:after{
  content:"";
  display:block;
  background:black;
  position:absolute;
  top:30%;
  left:59%;
  height: 5px;
  width: 245px;
}
.battery1, .battery2, .battery3{
   width: 100px;
  height: 30px;
  border: 5px solid black;
  margin-bottom:1%;
  margin-left:45%;
  position:relative;
 
}
.battery1:after,.battery2:after,.battery3:after{
  content:"";
  display:block;
  background:black;
  margin-left:105px;
  margin-top:7px;
  width: 7px;
  height: 15px;
  
}
.battery1{
  background:green;
}
.battery2:before{
  content:"";
  display:block;
  background:yellow;
  height: 30px;
  width: 70px;
  position:absolute;
  
}
.battery3:before{
  content:"";
  display:block;
  background:red;
  height: 30px;
  width: 35px;
  position:absolute;
}
ul {
  list-style:none;
}
li:first-child:before{
  content:"\2660";
}
li:nth-child(2):before{
 content:"\2663";
}
li:nth-child(3):before{
 content:"\2666";
  color:red;
}
li:last-child:before{
 content:"\2665";
  color:red;
}
:before{
  margin-right:7px;
}
