*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 , h3 {
	display: flex;
	justify-content: center;
}
.main{
	align-items: center;
	text-align: center;
}
.user_name.main{
	padding-top: 15px;
	background: #f5f5f5;
}
.heading{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #f5abf5;
	border-radius: 10px;

}
.user_photo{
	display: flex;
	margin-left: 150px;
	padding-top: 15px;

}
.main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.education2, .work, .quality, .education{
	padding-bottom: 20px;
}
.bottons{
	display: flex;
	justify-content: row;
	align-content: center;

}

.btn{
	display: block;
	width: 150px;
	height:50px;
	border:1px solid #2E8B57;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #2E8B57;
	font-weight: bold;
}
.btn:hover{
	border: 1px solid #fff;
	color: #fff;
	background: #2E8B57;
}
.btn2{
	display: block;
	width: 150px;
	height:50px;
	line-height: 50px;
	background: #e9eff0;
	background-image: url(https://png.pngtree.com/png-vector/20190927/ourmid/pngtree-drugs-icon-png-image_1749285.jpg);
	border: 1px solid #1d4c54;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #1d4c54;
	font-weight:bold;
}
.btn2:hover{
	border: 1px solid #1d4c54;
	color: #000;
	opacity: 0.5;
	background: #b3e0e8;
}