*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(https://images.theconversation.com/files/256057/original/file-20190129-108364-17hlc1x.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop);
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}
.main_logo{
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
	align-content: center;
}
figure {
	padding: 10px;

}
img{
	padding: 10px 10px 0 20px;
}
figcaption {
	font-size: 10px;
	font-family: arial;
}
nav{
	margin-right: 20px;
}
.list {
	list-style: none;
}
.li_item {
	float: left;
	padding: 0 20px;
	background: #81d0de;
	opacity: 0.8;
	height: 50px;
	line-height: 50px;
	border-right: 1px solid #000;
	
}
.li_item:first-child{
	border-left: 1px solid #000;
}
.li_item:hover{
	background: #c5e7ed;
}
a {
	float: left;
	height: 50px;
	line-height: 50px;
	color: #000;
	text-decoration:none;
	font-family: arial;
}
a:hover {
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	
}
article {
	padding: 5px 148px 10px 30px;
	background: #D2ECF8;
	opacity:0.8;
	background-clip: content-box;
}
h4 {
	display: flex;
	justify-content: center;
	padding: 5px;
}
p{
	text-indent: 20px;
}